.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url(images/bg-curvy-desktop.svg);

  background-color: hsl(217, 28%, 15%);
}
p,
h1,
h2,
h3 {
  color: white;
}
.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  padding: 30px;
}
.flex-item1 {
  display: inline-flex;
  width: 100%;
}

#entetedroite {
  display: inline-flex;

  justify-content: flex-end;
  margin-right: 0;
  margin-left: 60%;
}
#entetedroite a {
  margin: 10px;
}

.flex-item2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}
.flex-item3 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.flex-item4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: left;

  width: 100%;
  padding: 20px;
}

.flex-horiz_item2 {
  width: 30%;
  margin-left: 30px;
}
.flex-item5 {
  display: inline-flex;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}
.profils {
  background-color: hsl(219, 30%, 18%);
  padding: 20px;
  margin: 10px;
}
.nomProfil {
  display: inline-flex;
}
.flex-item6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 28%, 15%);
  margin-left: 170px;
  margin-right: 170px;
  margin-top: 50px;
  padding: 20px;
}
.flex-item6 form {
  width: 100%;
  margin-top: 10px;
}
.flex-item6 input {
  margin-right: 15px;

  padding: 5px;
}
.flex-item7 {
  display: inline-flex;
  width: 100%;
}
#lien1 {
  background-color: hsl(198, 60%, 50%);
  width: 40%;
  border-radius: 15px;
  padding: 5px;
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#lien1:hover {
  background-color: hsl(176, 68%, 64%);
}

#lien2 {
  background-color: hsl(198, 60%, 50%);
  width: 30%;
  border-radius: 15px;
  padding: 5px;
  text-decoration: none;
  color: white;
}
#lien2:hover {
  background-color: hsl(176, 68%, 64%);
}

/*responsive*/
@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .flex-item4 {
    display: flex;
    flex-direction: column;
  }
  .flex-item5 {
    display: flex;
    flex-direction: column;
  }

  .flex-item6 {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: px;
  }
  .flex-item6 form {
    width: 100%;
    margin-top: 10px;
  }
  .flex-item5 {
    display: inline-flex;
    text-align: left;
    margin-left: 0%;
    margin-right: 0%;
  }
  .flex-horiz_item2 {
    width: 100%;
    margin-left: 10%;
    margin-right: 15%;
  }
  .flex-item2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
  }
  #entetedroite {
    display: inline-flex;

    justify-content: flex-end;
    margin-right: 0;
    margin-left: 30%;
  }
  .flex-item6 input {
    display: flex;
    padding: 5px;
    align-content: center;
    align-items: center;
    margin: auto;
  }
  #lien2 {
    width: 50%;
    margin-top: 10px;
    text-align: center;
  }
}
